---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
    const books = await getCollection("books");
    return books.map((book) => ({
        params: {id: book.slug},    
        props: { book }
    }))
}

const { book } = Astro.props
const { data, slug } = book
const { title, img, description } = data 

const { Content } = await render(book)

export const prerender = true
---

<Layout title={`${title} - Dev Books`}>
    <section class="flex justify-center border-2 text-center text-white p-5 sm:p20 lg:p-50">
        
        <div class="sm:flex gap-12">
            <aside class="flex flex-col item-center gap-4">
                <a href="/" class="hover:text-[25px] transition opacity-100 text-center sm:text-2xl">⬅️ volver atrás</a>
                <img transition:name={`img-${slug}`} class="w-72 h-auto rounded" src={`/${img}`} alt={title}>
                

            </aside>
            
            <main class="max-w-3xl">
                <h1 transition:name={`title-${slug}`} class="text-2xl sm:text-4xl font-bold mb-4">{title}</h1>
                <div class="prose prose-invert">
                    <Content/>
                </div>
                
            </main>
            
        </div>
    </section>
</Layout>


<style>
    section {
        background-color: rgb(31, 29, 48);
    }
</style>